body {
    margin: 0;
    padding: 0;
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game-board {
    border: 1px solid black;
}
.snake {
    background-color: red;
}
tr {
    height: 30px;
    
}
.food {
    background-color: green;
}
tr td {
    width: 30px;
}
#score {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color : green;
}